h3 {
	text-align: center;
}

div {
	float: left;
	padding: 10px;
}

p {
	clear: both;
	text-align: center;
}

tr {
	text-align: center;
}

td {
	width: 80px;
}

.numbering {
	font-size: 15px;
	font-weight: bold;
	color: blue;
}

.otau, .kazan {
	font-size: 50px;
	font-weight: bold;
}

.otau td {
    border: 1px solid #333;
    position: relative;
}

.kazan {
    font-size: 30px;
    background-color: #f39c12;
    color: white;
    border-radius: 5px;
}

.ball {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 2px;
    background-color: #f39c12;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.otau td:hover {
    background-color: #f0e68c;
    cursor: pointer;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Новые стили для количества шариков */
.count {
    font-size: 20px; /* Размер шрифта для количества шариков */
    font-weight: bold; /* Жирный текст */
    margin-top: 5px; /* Отступ сверху */
    color: #333; /* Цвет текста */
}


